header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #272727;
  color: var(--light-blue);
  padding: 0 10px;
  -webkit-box-shadow: 0px 2px 10px -5px rgba(21, 6, 5, 1);
  -moz-box-shadow: 0px 2px 10px -5px rgba(21, 6, 5, 1);
  box-shadow: 0px 2px 10px -5px rgba(21, 6, 5, 1);
}

.cart-item-quantity {
  position: absolute;
  right: 10px;
  top: 18px;
  z-index: 10;
  color: var(--black);
  font-weight: bolder;
  font-size: 12px;
  background-color: var(--blue);
  padding: 1px 5px;
  border-radius: 8px;
}
